@tailwind base;
@tailwind components;
@tailwind utilities;

@import url(./reset.css);

:root {
  --color-animation-light: #303030;
  --color-animation-dark: #fdfdfd;

  --color-animation-during-light: #ccc;
  --color-animation-during-dark: #ccc;
}

html.light {
  --color-animation: var(--color-animation-light);
  --color-animation-during: var(--color-animation-during-light);
}

html.dark {
  --color-animation: var(--color-animation-dark);
  --color-animation-during: var(--color-animation-during-dark);
}

/* Custom dark mode styles */
html.dark {
  background-color: var(--color-animation-light);
  color: var(--color-animation-dark);
}

html.light {
  background-color: var(--color-animation-dark);
  color: var(--color-animation-light);
}

/* signature animation */
#signaturePath {
  stroke-dasharray: 30000;
  stroke-dashoffset: 30000;
  fill: transparent;
  animation: drawSignature 10s linear infinite;
}

@keyframes drawSignature {
  0% {
    stroke-dashoffset: 30000;
    fill: transparent;
  }

  35% {
    fill: var(--color-animation-during);
  }


  45%,
  85% {
    stroke-dashoffset: 0;
    fill: var(--color-animation);
  }

  90%,
  100% {
    stroke-dashoffset: 30000;
    fill: transparent;
  }
}